.container {
    display: grid;
    place-items: center;
    width: 100px;
    height: 100px;
    background-color: green;
}
.parent {
    display: grid;
    flex-wrap: wrap;
    width: 60px;
    cursor: pointer;
    gap: 5px;
    transition-duration: 0.5s;
}
span {
    width: 100%;
    height: 10px;
    background-color: white;
    border-radius: 5px;    
}
.one,
.three {
    transition-duration: 0.5s;
    transition-delay: 0.5s;
}
.parent:active .one {
    transform: rotate(135deg);
}
.parent:active .three {
    transform: rotate(45deg);
}
.parent:active .two {
    visibility: hidden;
    position: absolute;
}
.parent:active {
    gap: 0;
    grid-template-rows: repeat(1, 0px);
}